@import "~bootstrap/scss/bootstrap";


/*=======================================================================================*/
/* VARIABLES */

$bg--dark: #0a3e2d;
$text-dark: #49504e;
$text-bright-green: #25bf87;

/*=======================================================================================*/
/* GLOBAL STYLES */

html {
  scroll-behavior: smooth;
}

body {
  color: white;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.animate {
  transition: all 300ms ease-out;
}

.navbar__links {
  max-height: 300px;
}

.navbar--collapsed {
  max-height: 0 !important;
}

/*=========================================================================================*/
/* FOOTER */

.footer {
  background: $bg--dark;
  padding: calculateRem(42px) 0 calculateRem(42px);

  p {
    @include fontSize(12px);
    line-height: calculateRem(18px);
    color: rgba(255, 255, 255, 0.5);
  }

  a {
    color: white;
    font-weight: bold;

    &:hover {
      color: white;
    }
  }
}

/*=========================================================================================*/
/* TABLE STYLING */

%list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  list-style-type: none;
  padding-inline-start: 0;
  margin: 0;

  li {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #d8d8d8;
  }

  li:hover {
    cursor: pointer;
    background-color: white;

    .table__link a {
      text-decoration: underline;
    }
  }
  

  div {
    display: flex;
    align-items: center;
    padding: calculateRem(18px) calculateRem(20px);

    a {
      color: $text-bright-green;
      font-weight: 700;
      // letter-spacing: 0.2em;
    }
  }


  @include media-breakpoint-down(xs) {
    div {
      padding: calculateRem(10px);
    }
  }
}


/*=========================================================================================*/
/* PRESS/FAQ PAGE STYLINGS */

%main-box {
  color: #49504e;
  padding: calculateRem(90px) 0;
  background-color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

  %title {
    @include fontSize(43px);
    font-weight: 900;
    line-height: calculateRem(58px);
    letter-spacing: -0.01em;
  }

  %heading {
    font-weight: bold;
    @include fontSize(20px);
    line-height: calculateRem(23px);
    text-align: center;
  }
}