/*=======================================================================================*/
/* VARIABLES */

$bg--dark: #0a3e2d;
$text-dark: #49504e;
$text-bright-green: #25bf87;

/*=======================================================================================*/
/* GLOBAL STYLES */

html {
  scroll-behavior: smooth;
}

body {
  color: white;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.animate {
  transition: all 300ms ease-out;
}

.navbar__links {
  max-height: 300px;
}

.navbar--collapsed {
  max-height: 0 !important;
}

/*=========================================================================================*/
/* FOOTER */

.footer {
  background: $bg--dark;
  padding: calculateRem(42px) 0 calculateRem(42px);

  p {
    @include fontSize(12px);
    line-height: calculateRem(18px);
    color: rgba(255, 255, 255, 0.5);
  }

  a {
    color: white;
    font-weight: bold;

    &:hover {
      color: white;
    }
  }
}


/*=========================================================================================*/
/* PRESS/FAQ PAGE STYLINGS */

%main-box {
  color: #49504e;
  padding: calculateRem(70px) 0;
  background-color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

  %title {
    @include fontSize(44px);
    font-weight: 900;
    line-height: calculateRem(58px);
    letter-spacing: -0.01em;
  }

  %heading {
    font-weight: bold;
    @include fontSize(20px);
    line-height: calculateRem(23px);
    text-align: center;
  }
}