/*=======================================================================================*/
/* VARIABLES */

$bg--dark: #0a3e2d;
$text-dark: #49504e;
$text-bright-green: #25bf87;

/*=======================================================================================*/
/* GLOBAL STYLES */

html {
  scroll-behavior: smooth;
}

body {
  color: white;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.animate {
  transition: all 300ms ease-out;
}

.navbar__links {
  max-height: 300px;
}

.navbar--collapsed {
  max-height: 0 !important;
}

/*=========================================================================================*/
/* FOOTER */

.footer {
  background: $bg--dark;
  padding: calculateRem(42px) 0 calculateRem(42px);

  p {
    @include fontSize(12px);
    line-height: calculateRem(18px);
    color: rgba(255, 255, 255, 0.5);
  }

  a {
    color: white;
    font-weight: bold;

    &:hover {
      color: white;
    }
  }
}
