@import "util";
@import "shared";


main {
  background-color: #e5e5e5;
}


header {
    background-image: url("../img/contact-bg.svg");
    background-size: cover;
  }

  nav {
    &.navbar {
      padding-top: calculateRem(40px);
      padding-bottom: calculateRem(40px);
    }
  }


.press {
    @extend %main-box;

    &__title {
        @extend %title;
    }

    &__heading {
        @extend %heading;
    }

    &__table{
        @extend %list;

        & a {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}


// THIS IS A QUICK FIX I MADE
// In reality the table__date and table__desc classes need to 
// be made less specific
.table__left {
    color: #49504e;
    text-align: right;
    padding-left: 0 !important;
    padding-right: 0;
    @include media-breakpoint-down(sm) {
        width: 0px;
        overflow: hidden;
        padding: 0 !important;
      }
}