@import "bootstrap/scss/bootstrap";
@import "util";
@import "shared";

/*=======================================================================================*/
/* TABLE STYLES */

.table__logo img {
  width: calculateRem(40px);
}

.table__desc {
  flex: 1 1 0px;
  @include fontSize(16px);
  line-height: calculateRem(28px);

  &,
  & > * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.table__link {
  @extend .text-right;
  font-weight: 900;
  @include fontSize(13px);
  line-height: calculateRem(13px);
  text-align: right;
  letter-spacing: 0.2em;

  @include media-breakpoint-only(lg) {
    flex: 0;
  }
}

.table__link,
.table__date {
  @include media-breakpoint-down(sm) {
    width: 0px;
    overflow: hidden;
    padding: 0 !important;
  }
}

/*=======================================================================================*/
/* SECTION STYLES */

.section {
  padding: calculateRem(154px) 0 calculateRem(130px);
  color: $text-dark;

  &--dark {
    background: #f8f8f8;
  }

  &--green {
    color: white;
  }

  &__heading {
    @extend .text-uppercase;
    color: $text-bright-green;
    font-weight: bold;
    @include fontSize(13px);
    line-height: calculateRem(13px);
    letter-spacing: 0.2em;
    margin-bottom: calculateRem(42px);
  }

  &__title {
    font-weight: 900;
    @include fontSize(30px);
    line-height: calculateRem(36px);
    letter-spacing: -0.01em;
  }

  &__text {
    @include fontSize(18px);
    line-height: calculateRem(28px);
    margin-bottom: calculateRem(97px);

    a {
      color: $text-dark;
    }
  }
}


/*=======================================================================================*/
/* HERO SECTION */

.hero-background {
  background-image: url("/img/hero-bg.svg");
  background-size: cover;
}

.hero {
  padding: 86px 0 83px;
  text-align: center;

  @include media-breakpoint-up(md) {
    padding: 180px 0 190px;
    text-align: left;
  }

  &__title {
    font-weight: 900;
    @include fontSize(88px);
    line-height: calculateRem(90px);
    letter-spacing: -0.01em;

    @include media-breakpoint-down(md) {
      @include fontSize(50px);
      line-height: calculateRem(54px);
    }
  }

  &__text {
    @include fontSize(24px);
    margin-top: calculateRem(30px);
    line-height: calculateRem(38px);
  }

  &__btns {
    margin-top: calculateRem(95px);
  }

  &__btn {
    @extend .btn, .d-flex, .w-100, .justify-content-center, .text-uppercase;
    @include fontSize(15px);
    padding: calculateRem(19px);
    border-radius: calculateRem(74px);
    letter-spacing: 0.1em;
    font-weight: 900;

    &--primary {
      color: #1a7958;

      &:hover {
        color: #1a7958;
        background-color: rgba(255, 255, 255, 0.7) !important;
      }
    }

    &--secondary {
      border-color: white;
      color: white;
      backdrop-filter: blur(10px);

      &:hover {
        color: white;
        border-color: white;
        background: rgba(255, 255, 255, 0.3) !important;
      }
    }
  }
}

/*=======================================================================================*/
/* NEWS SECTION */

.news {
  @extend .justify-content-center, .align-items-center;

  &--dark {
    color: #849f96;
    background-color: $bg--dark;
    backdrop-filter: blur(30px);
  }

  &--light {
    background: #f8f8f8;
  }

  &__announcement {
    p {
      @include fontSize(16px);
      line-height: calculateRem(28px);
    }

    a {
      color: white;

      &:hover {
        color: #849f96;
      }
    }
  }
}

/*=======================================================================================*/
/* ABOUT SECTION */
.about {
  color: $text-dark;
  padding-top: calculateRem(140px);
  padding-bottom: calculateRem(124px);

  &__cards .col {
    margin-bottom: calculateRem(72px);

    &:last-of-type {
      margin-bottom: 0;
    }

    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
    }
  }

  .card {
    height: 430px;
  }

  .card-img-top {
    margin: auto;
    width: auto;
    max-width: 100%;
    max-height: 250px;
    margin-bottom: auto;
    padding-bottom: calculateRem(34px);

    // IE 11 Fix
    align-self: flex-start;
  }

  .card-title {
    @include fontSize(30px);
    font-weight: 900;
    line-height: calculateRem(36px);
  }

  .card-text {
    @include fontSize(16px);
    line-height: calculateRem(28px);
  }

  &__divider {
    width: calculateRem(94px);
    height: auto;
  }

  &__text {
    @include fontSize(18px);
    line-height: calculateRem(28px);
  }
}

.about-sec-2 {
  text-align: center;
  margin: calculateRem(86px) auto calculateRem(76px);
}

/*=======================================================================================*/
/* GPC SPECIFICATION */

.gpc {
  .hero__btn {
    background: #058a5e;
    color: white;

    &:hover {
      background: rgba(5, 138, 94, 0.7);
    }

    &--wire {
      background: transparent;
      color: #058a5e;
      border: 1px solid #058a5e;

      &:hover {
        color: white;
      }
    }
  }
}

/*=======================================================================================*/
/* ORGANIZATIONS SECTION */

.orgs {
  &__logo {
    @extend .d-flex, .justify-content-center, .align-items-center;
    height: 100%;
    width: 100%;
    border: 1px solid transparent;
    padding: calculateRem(20px);
    min-height: calculateRem(80px);

    @include media-breakpoint-up(lg) {
      min-height: calculateRem(100px);
    }

    &:hover {
      border: 1px solid $text-bright-green;
      box-sizing: border-box;
      border-radius: 4px;
    }

    img {
      width: 100%;
      height: auto;
      max-width: 100%;
      max-height: 10rem;
    }
  }

  &__text {
    margin-top: calculateRem(70px);
    @include fontSize(16px);
    line-height: calculateRem(28px);

    a {
      color: $text-dark;
    }
  }
}

/*=======================================================================================*/
/* DOWNLOAD SECTION*/

.download {
  &__table {
    @extend %list;
  }
}

/*=========================================================================================*/
/* GET-INVOLVED SECTION*/

.contact {
  background-image: url("/img/contact-bg.svg");
  background-size: cover;

  &__title {
    font-weight: 900;
    @include fontSize(30px);
    line-height: calculateRem(36px);
  }

  &__text {
    @include fontSize(18px);
    line-height: calculateRem(28px);
  }

  &__link {
    @include fontSize(20px);
    line-height: calculateRem(36px);
    margin-top: calculateRem(46px);
    font-weight: 900;
    color: white;

    @include media-breakpoint-up(md) {
      @include fontSize(30px);
    }

    &:hover {
      color: white;
    }
  }
}
