/* ------------ */
/* table styles */
/* ------------ */

.tableLogo img {
  width: calc(40 * var(--px-in-rem));
}

.tableDesc {
  flex: 1 1 0px;
  font-size: calc(16 * var(--px-in-rem));
  line-height: calc(28 * var(--px-in-rem));

  &,
  & > * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.tableLink {
  font-weight: 900;
  font-size: calc(13 * var(--px-in-rem));
  line-height: 1;
  text-align: right;
  letter-spacing: 0.2em;

  @media (--media-breakpoint-only-lg) {
    flex: 0;
  }
}

.tableLink,
.tableDate {
  @media (--media-breakpoint-down-sm) {
    width: 0px;
    overflow: hidden;
    padding: 0 !important;
  }
}

/* --------------- */
/* sections styles */
/* --------------- */

.section {
  padding: calc(154 * var(--px-in-rem)) 0 calc(130 * var(--px-in-rem));
  color: var(--text-dark);
}

.sectionDark {
  background: #f8f8f8;
}

.sectionTitle {
  font-weight: 900;
  font-size: calc(30 * var(--px-in-rem));
  line-height: calc(36 * var(--px-in-rem));
  letter-spacing: -0.01em;
}

.sectionText {
  font-size: calc(18 * var(--px-in-rem));
  line-height: calc(28 * var(--px-in-rem));
  margin-bottom: calc(97 * var(--px-in-rem));

  & a {
    color: var(--text-dark);
  }
}

/* ------------ */
/* hero section */
/* ------------ */

.heroBackground {
  background-image: url("/img/hero-bg.svg");
  background-size: cover;
}

.hero {
  padding: 86px 0 83px;
  text-align: center;

  @media (--media-breakpoint-up-md) {
    padding: 180px 0 190px;
    text-align: left;
  }
}

.heroTitle {
  font-weight: 900;
  font-size: calc(88 * var(--px-in-rem));
  line-height: calc(90 * var(--px-in-rem));
  letter-spacing: -0.01em;

  @media (--media-breakpoint-down-md) {
    font-size: calc(50 * var(--px-in-rem));
    line-height: calc(54 * var(--px-in-rem));
  }
}

.heroText {
  font-size: calc(24 * var(--px-in-rem));
  margin-top: calc(30 * var(--px-in-rem));
  line-height: calc(38 * var(--px-in-rem));
}

.heroBtns {
  margin-top: calc(95 * var(--px-in-rem));
}


/* ------------ */
/* news section */
/* ------------ */
.news {
  color: #849f96;
  background-color: var(--bg-dark);
  backdrop-filter: blur(30px);
}

.newsAnnouncement {
  & p {
    font-size: calc(16 * var(--px-in-rem));
    line-height: calc(28 * var(--px-in-rem));
    color: white;
  }

  & a {
    color: white;
    text-decoration: underline;
    &:hover {
      color: #849f96;
    }
  }
}


/* ------------- */
/* about section */
/* ------------- */
.about {
  color: var(--text-dark);
  padding-top: calc(140 * var(--px-in-rem));
  padding-bottom: calc(124 * var(--px-in-rem));
}

.aboutCards :global(.col) {
  margin-bottom: calc(72 * var(--px-in-rem));

  &:last-of-type {
    margin-bottom: 0;
  }

  @media (--media-breakpoint-up-lg) {
    margin-bottom: 0;
  }
}

.aboutText {
  font-size: calc(18 * var(--px-in-rem));
  line-height: calc(28 * var(--px-in-rem));
}

.aboutCard {
  height: 430px;
  & img {
    margin: auto;
    width: auto;
    max-width: 100%;
    max-height: 250px;
    margin-bottom: auto;
    padding-bottom: calc(43 * var(--px-in-rem));

    /* IE 11 Fix */
    align-self: flex-start;
  }

  & h2 {
    font-size: calc(30 * var(--px-in-rem));
    font-weight: 900;
    line-height: calc(36 * var(--px-in-rem));
  }

  & p {
    font-size: calc(16 * var(--px-in-rem));
    line-height: calc(28 * var(--px-in-rem));
  }
}

.aboutSec2 {
  text-align: center;
  margin: calc(86 * var(--px-in-rem)) auto calc(76 * var(--px-in-rem));

  & > img {
    width: calc(94 * var(--px-in-rem));
    height: auto;
  }
}


/* ------------ */
/* orgs section */
/* ------------ */
.orgLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border: 1px solid transparent;
  padding: calc(20 * var(--px-in-rem));
  min-height: calc(80 * var(--px-in-rem));

  @media (--media-breakpoint-up-lg) {
    min-height: calc(100 * var(--px-in-rem));
  }

  &:hover {
    border: 1px solid var(--text-bright-green);
    box-sizing: border-box;
    border-radius: 4px;
  }

  & img {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 10rem;
  }
}

/* ---------------- */
/* download section */
/* ----------------- */
.downloadTable {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  list-style-type: none;
  padding-inline-start: 0;
  margin: 0;

  & li {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #d8d8d8;
    &:hover {
      cursor: pointer;
      background-color: white;
      & a {
        text-decoration: underline;
      }
    }
  }

  & div {
    display: flex;
    align-items: center;
    padding: calc(18 * var(--px-in-rem)) calc(20 * var(--px-in-rem));

    & a {
      color: var(--text-bright-green);
      font-weight: 700;
    }
  }

  @media (--media-breakpoint-down-xs) {
    & div {
      padding: calculateRem(10px);
    }
  }
}


/* ----- */
/* misc. */
/* ----- */

.bottomButton {
  min-width: 200px;
  @media(--media-breakpoint-down-md) {
    width: 100%;
  }
}
