.navbar {
  padding: calc(30 * var(--px-in-rem)) 0 0;
}

.headerLogoLarge {
  width: 330px;
}

.headerLogoSmall {
  width: 120px;
}

.mobileMenu {
  transition: all 300ms ease-out;
  max-height: 0;
  &.open {
    max-height: 330px;
  }
}

.linkList {
  & a {
    font-size: calc(12 * var(--px-in-rem));
    font-weight: 900;
    line-height: calc(28 * var(--px-in-rem));
    color: white;
    padding: 0.1rem 0.75rem!important;

    &:hover {
      color: white;
      text-decoration: underline;
    }

    @media(--media-breakpoint-down-lg) {
      padding: 0.1rem 0.5rem!important;
    }
  }
}
