.wrapper {
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

.slider {
  display: flex;
  align-items: center;
  overflow-y: hidden;
  align-items: center;
  height: 100%;
  transition: transform 0.2s ease-out;
  &.noTransition {
    transition: none;
  }
}

.slide {
  height: 100%;
}
